// Specific CSS for your home-page
.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}
