.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}

.card-category {
  background-color: #382726;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.4);
  color: white;

  &:first-child {
    text-align: center;
  }
}

.card-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-description {
  padding: 16px;
}

.btn-delete {
  position: absolute;
  right: 16px;
  top: 16px;
  i {
    color: gray;
    &:hover {
      color: red;
    }
  }
}
