.form-new {
  border: solid 1px #ccc;
  width: 500px;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #382726;
  }
}
