<div class="banner">
  <div>
    <h1>Cookbook</h1>
    <h2>Save your favourites recipes</h2>
  </div>
</div>

<h1>List of Categories</h1>
<%= link_to 'Add a new category', new_category_path %> <br>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
